Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h.in
configure
depcomp
install-sh
missing
.deps/
Makefile
boxmuller.o
config.h
config.log
config.status
libmemc.o
main.o
stamp-h1
memcachetest
metrics.o
